@import '../base/all';

@mixin baseContainer {
  @include card;
  @include grid(10%, auto);
  grid-row-gap: 10px;
}

@media (min-width: 320px){
  .containerDetail {
    @include baseContainer;
    grid-template-areas:
    "s"
    "a"
    "b"
    "c"
    "d"
    "e";
  }
} 

@media (min-width: 540px){
  .containerDetail {
    @include baseContainer;
    grid-template-areas:
    "s b b"
    "a b b"
    "a c c"
    "d d d"
    "e e e";
  }
} 

.title {
  color: #000;
  text-transform: capitalize;
  font-size: 1.5em;
  text-align: left;
  grid-area: s;
  border-radius: 10px;
  margin-bottom: 5px;
}

.pokemonPhoto {
  grid-area: a;
  align-self: start;
}

.pokemonDetails {
  @include card(#30a7d7, #fff, 10px, 100%);
  grid-area: b;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;

  .stat {
    display: block;
  }
}

.pokemonExtras {
  @include card(#95ccaf, #fff, 10px, 1em);
  grid-area: c;
  .propertie {
    display: block;
  }
}

.pokemonAbilities {
  @include card(#d62d20, #fff, 10px, 1em);
  grid-area: d;
  span {
    margin: 10px;
    display: block-inline;
  }
}

.pokemonTypes {
  @include card(#ddd, #fff, 10px, 1em);
  grid-area: e;
  span {
    margin: 10px;
    display: block-inline;
  }
}
