%badge {
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.eletric{
  @extend %badge;
  background-color: #729f3f;
}

.grass{
  @extend %badge;
  background-color: #9bcc50;
}

.bug{
  @extend %badge;
  background-color: #729f3f;
}

.fire{
  @extend %badge;
  background-color: #fd7d24;
}

.fairy{
  @extend %badge;
  background-color: #fdb9e9;
}

.ground{
  @extend %badge;
  background-color: #ab9842;
}

.poison{
  @extend %badge;
  background-color: #b97fc9;
}

.flying{
  @extend %badge;
  background-color: #3dc7ef;
}

.normal{
  @extend %badge;
  background-color: #a4acaf;
}

.water{
  @extend %badge;
  background-color: #3dc7ef;
}
